
obdh3/History/
obdh3/__Previews/
obdh3/layout/__Previews/
obdh3/Project Logs for OBDH3/
obdh3/Project Outputs for OBDH3/
texto/cap1-revbib.pdf
texto/cap1-revbib.synctex.gz
obdh3/schematics/__Previews/
lib_components/__Previews/
